{% extends 'frontend/admin/base.html' %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% block style %}
    <script type="text/javascript"
            src="{% static 'libs/xlsx/0.17.5/jszip.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'libs/xlsx/0.17.5/xlsx.js' %}"></script>
{% endblock %}
{% block render_bundle %}
    {% render_bundle 'DashboardForm' %}
{% endblock %}
{% block scripts %}
    <script>
      {# specified url for dashboard #}
      urls.dashboardData = '{% url 'dashboard-data-api' slug=dashboard.id %}'

      {# specified url for dashboard #}
      urls.dashboardData = '{% url 'dashboard-data-api' slug=dashboard.id %}'
      urls.bookmarkCreate = '{% url 'dashboard-bookmarks-create' slug=dashboard.id %}'
      urls.bookmarkList = '{% url 'dashboard-bookmarks' slug=dashboard.id %}'
      urls.bookmarkDetail = '{% url 'dashboard-bookmarks-edit' slug=dashboard.id pk=0 %}'

      const definition = {{ definition|safe }};
      let editMode = true;
      urls.api = {
        'basemapListAPI': '{% url 'basemap-list-api' %}',
        'indicatorListAPI': '{% url 'indicator-list-api' %}',
        'contextLayerListAPI': '{% url 'context-layer-list-api' %}',
        'users': '{% url 'user-list-api'%}',
        'groups': '{% url 'group-list-api'%}',
      }

      // Format code choices
      const codelists = {{ codelists|safe }}
    </script>
{% endblock %}