.TreeItem {
  .MuiTreeItem-content {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  label {
    align-items: flex-start;

    .InfoIcon {
      .MuiSvgIcon-fontSizeSmall {
        font-size: 1em;
        margin-left: 3px;
      }
    }

    .PanelCheckbox, .PanelRadio {
      width: 20px;
      padding:0;
      padding-top: 2px !important;
    }
    .PanelCheckbox {
      margin-right: 2px;
    }

  }
}

.PanelSearchBox {
  width: 100%;
  .MuiInputBase-root {
    width: 100%;
    input {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}