/* ==========================================================================
   MetaIngestor Content
   ========================================================================== */

@import '../../../../app/variables';

.IndicatorSelection {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 3rem;

  th {
    background: $secondary-color;
    color: $anti-secondary-color;
    font-weight: $base-font-light;
  }

  th, td {
    padding: 1rem;
  }

  tr {
    border: 1px solid $secondary-color;

    td:first-child {
      width: 70%;
    }
  }

  .IndicatorSelectionTitle {
    position: relative;

    button {
      position: absolute;
      right: -4px;
      top: -9px;
    }
  }
}

.DeleteButtonSection {
  padding-left: 0 !important;
  width: 25px;

  svg {
    cursor: pointer;
    margin-top: 4px;

    &:hover {
      opacity: $base-hovered-opacity;
    }
  }
}