/* ==========================================================================
   Dashboard specific style
   ========================================================================== */

@import '../../app/variables';

html, body {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.page {
  @include media(xsmall-only) {
    min-height: 100vh;
    display: block;
    overflow-y: auto;
  }
}

.page {
  main {
    flex-grow: 1;
    position: relative;
    min-height: 0;
    width: 100%;

    @include media(small-down) {
      height: fit-content;
    }
  }

  .dashboard {
    height: 100%;
    position: relative;
    width: 100%;

    .left-right-toggle-button {
      background: $primary-color;
      cursor: pointer;
      height: 30px;
      padding: 0.2rem 0.3rem;
      color: $anti-primary-color;
      position: absolute;
      top: 55px;

      div {
        height: 1rem;
        width: 0.6rem;
      }

      div:after {
        font-size: 12px;
      }

      @include media(xsmall-only) {
        div:after {
          font-size: 16px;
        }
      }

      &.left {
        div:after {
          content: '◀';
        }
      }

      &.right {
        div:after {
          content: '▶';
        }
      }
    }
  }

  .dashboard__panel {
    box-sizing: border-box;
    height: 100%;
    pointer-events: none;
    z-index: 1001;

    .dashboard__content-wrapper {
      background-color: white;
      width: 100%;
    }

    > div {
      pointer-events: auto;
    }
  }

  .dashboard__content {
    background-color: #eee;
    padding: 10px 10px 5px 10px;
  }
}