/* ==========================================================================
   Map COnfig style
   ========================================================================== */

@import '../../../../../app/variables';

.ExtentConfig {
  .ExtentInput {
    width: 100%;
    display: flex;

    .ExtentManualInput {
      width: 20%;
      padding: 1rem;
      box-sizing: border-box;
    }

    #MapConfig {
      width: 80%;
      height: 500px;

      .leaflet-draw {
        span {
          display: none;
        }
      }
    }
  }
}

.BasicForm {
  padding: 0 !important;
}

.DescriptionInput {
  textarea {
    border-radius: 0;
    border: none;

    &:hover,
    &:focus,
    &:focus-within {
      border: none;
    }
  }
}