/* ==========================================================================
   Date selection
   ========================================================================== */

@import '../../../../app/variables';

.GlobalDateSelection {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 1rem;
  width: 100vw;
  height: 0;

  .GlobalDateSelectionIconOuterWrapper {
    position: relative;
    width: 100%;

    .GlobalDateSelectionIconWrapper {
      position: absolute;
      bottom: 1rem;
      width: 100%;
      margin-bottom: 34px;
      height: 0;
      display: flex;

      .Separator {
        flex-grow: 1;
      }

      .GlobalDateSelectionIcon {
        padding: 6px 0.5rem;
        height: 22px;
        cursor: pointer;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        background-color: rgb(255, 255, 255);
        color: $secondary-color;
        display: flex;

        svg {
          width: 20px;
          height: 20px;
        }

        &:hover {
          opacity: $base-hovered-opacity;
        }

        .GlobalDateSelectionIconDate {
          font-weight: $base-font-weight;
          margin: -1px 0.5rem;
          text-align: center;

          .DateSeparator {
            margin: 0 0.5rem;
            display: inline-block;
            font-weight: 500;
          }
        }
      }
    }
  }

  .GlobalDateSelectionOuterWrapper {
    position: relative;
    width: 100%;

    .GlobalDateSelectionWrapperInterval {
      margin-bottom: 0.5rem;
    }

    .GlobalDateSelectionWrapper {
      position: absolute;
      transition: bottom 0.3s;
      bottom: -140px;
      left: 50%;
      height: 140px;
      width: 600px;
      margin-left: -300px;
      padding: 1rem 3rem;

      box-shadow: $box-shadow;
      background-color: rgb(255, 255, 255);
      border-radius: $border-radius;
      box-sizing: border-box;
      color: $secondary-color;

      .GlobalDateSelectionSliderWrapper {
        display: flex;

        .Separator {
          flex-grow: 1;
        }

        .GlobalDateSelectionSlider {
          width: 100%;

          &.Small {
            width: 0;
          }

          .MuiSlider-thumb {
            color: $secondary-color;
          }

          .MuiSlider-root {
            color: $secondary-color;
          }

          .MuiSlider-markLabel {
            text-align: center;
            white-space: unset;
            width: 75px;
          }
        }
      }
    }
  }
}

.GlobalDateSelection {
  &.Open {
    .GlobalDateSelectionWrapper {
      bottom: 3.5rem;
    }
  }
}