/* ==========================================================================
   Date selection
   ========================================================================== */

@import '../../../../app/variables';

.GlobalDateSelection {
  position: relative;

  .GlobalAdvancedFilter {
    display: flex;
    border-bottom: 1px solid $secondary-color;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    margin-top: -0.5rem;

    .GlobalAdvancedFilterText {
      margin-top: 0.5rem;
    }

    .Separator {
      flex-grow: 1;
    }


    .GlobalDateSelectionIconDate {
      font-weight: $base-font-weight;
      margin: 0.5rem 0;
      text-align: center;

      .DateSeparator {
        margin: 0 0.5rem;
        display: inline-block;
        font-weight: 500;
      }
    }
  }

  .GlobalDateSelectionIconOuterWrapper {
    .GlobalDateSelectionIconWrapper {
      display: flex;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      background-color: rgb(255, 255, 255);
      cursor: pointer;

      .Separator {
        flex-grow: 1;
      }

      .GlobalDateSelectionIcon {
        padding: 9px 0.5rem;
        box-sizing: border-box;
        height: 40px;
        color: $secondary-color;
        display: flex;

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .GlobalDateSelectionOuterWrapper {
    .GlobalDateSelectionWrapperInterval {
      width: 220px;
      padding-left: 1rem;

      .GlobalDateSelectionShowLatestValue {
        display: flex;
        font-size: 1rem;
        color: $base-black-color;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        .GlobalDateSelectionShowLatestValueText {
          margin-top: 8px;
        }

        .MuiSwitch-root {
          margin-left: -10px;
        }
      }
    }

    .GlobalDateSelectionShowMinMax {
      display: flex;
      color: $base-black-color;
      margin-top: 0.5rem;

      .GlobalDateSelectionShowMinMaxText {
        font-size: 1rem;
        margin-top: 8px;
        margin-right: 0.5rem;
        width: 50px;
      }

      .Selection {
        flex-grow: 1;
      }
    }

    &.Disabled {
      .GlobalDateSelectionShowLatestValue {
        color: $gray-500;
      }
    }

    .GlobalDateSelectionWrapper {
      position: absolute;
      transition: bottom 0.3s;
      bottom: -340px;
      left: 0;
      height: 270px;
      width: 600px;
      padding: 1rem;

      box-shadow: $box-shadow;
      background-color: rgb(255, 255, 255);
      border-radius: $border-radius;
      box-sizing: border-box;
      color: $secondary-color;

      .AccessFilterIcon {
        margin-top: 7px;
        cursor: pointer;
      }

      .GlobalDateSelectionSliderWrapper {
        display: flex;

        .Separator {
          flex-grow: 1;
        }

        .GlobalDateSelectionSlider {
          flex-grow: 1;
          margin: 0 3rem;
          margin-top: 4px;

          &.Small {
            width: 0;
          }

          .MuiSlider-thumb {
            color: $secondary-color;
          }

          .MuiSlider-root {
            color: $secondary-color;
          }

          .MuiSlider-markLabel {
            text-align: center;
            white-space: unset;
            width: 75px;
          }

          .Mui-disabled {
            .MuiSlider-markLabel {
              color: $gray-500;
            }

            .MuiSlider-thumb {
              color: $gray-500;
            }

            .MuiSlider-track {
              color: $gray-300;
            }
          }
        }
      }
    }
  }
}

.GlobalDateSelection {
  &.Open {
    .GlobalDateSelectionWrapper {
      bottom: 120%;
    }
  }
}