/* -------------------------------------------------------------------
   Used for global theme element
  ------------------------------------------------------------------- */

@import './variables.scss';

html, body {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

#app {
  height: 100%;
  width: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.AddButton {
  color: green;
}

.RemoveButton {
  color: $error;
}

.DeleteButton {
  color: $error;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.ThemeButton {
  svg {
    margin-right: 0.5rem;
  }
}


.TabPrimary {
  display: flex;

  div {
    border: 1px solid $primary-color;
    padding: 0.5rem;
    cursor: pointer;
    margin-right: -1px;
    min-width: 8rem;
    border-bottom: none;
    text-align: center;

    &.Selected {
      background-color: $primary-color;
      color: $anti-primary-color;
    }
  }
}


.Popover-Submit {
  padding: 0.5rem;

  .FormError {
    color: $error;
  }

  .FormOk {
    color: $ok;
  }
}