/* -------------------------------------------------------------------
   Used for global theme element
  ------------------------------------------------------------------- */

@import './variables.scss';

html, body {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

#app {
  height: 100%;
  width: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.RemoveButton {
  color: $error;
}

.DeleteButton {
  color: $error;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.ThemeButton {
  svg {
    margin-right: 0.5rem;
  }
}