/* ==========================================================================
   Users Form style
   ========================================================================== */
.UserTable {
  height: 500px;
}

.MembersLabel {
  display: flex;
  margin-bottom: 1rem;

  label {
    padding-top: 0.5rem;
    flex-grow: 1;
  }
}

.UserTable {
  .MuiDataGrid-columnHeader:first-child {
    width: 0 !important;
    min-width: 0 !important;
    display: none !important;
  }

  .MuiDataGrid-row {
    .MuiDataGrid-cell:first-child {
      display: none;
    }
  }

  .ModalDataSelectorSelected {
    display: none;
  }
}
