/* ==========================================================================
   Select with Place holder style
   ========================================================================== */

@import '../../../app/variables';

.MuiSelectValue {
  height: 24px;
    margin-top: -13px;

  .MuiSelectValueGroup {
    color: $secondary-color;
    font-weight: $base-font-medium;
    font-size: 0.7rem;
    height: 18px;
  }
}