/* ==========================================================================
   Left-side panel
   ========================================================================== */

@import '../../../../app/variables';

.MapInfo {
  margin-top: auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  box-shadow: $box-shadow;
  padding: 0.3rem 0.5rem;
  margin-left: 0.5rem;
  height: 58px;
  box-sizing: border-box;
}