/* ==========================================================================
   Left-side panel
   ========================================================================== */

@import '../../../../app/variables';

.MapInfo {
  box-shadow: $box-shadow;
  background-color: rgb(255, 255, 255);
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  padding: 0.3rem 0.5rem;
  box-sizing: border-box;
  color: $secondary-color;
  max-width: 15rem;

  div {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}