/* ==========================================================================
   Map Container
   ========================================================================== */

@import '../../../app/variables';

.leaflet-top {
  background-color: #eeeeee;
}

.leaflet-left {
  left: 0;
  padding-left: 20px;
  transition: left 0.3s;
  top: 0;
  height: 49px;
  width: 100vw;
  display: flex;

  .leaflet-control {
    display: flex;
    margin-left: 0;
    margin-top: 7px;
    z-index: 1000;
    border: none;

    a {
      background-color: #eee;
      border: none;
      margin: 0 5px;
      color: $primary-color;
    }

    a:hover {
      background-color: #ddd;
    }
  }
}

.LeftExpanded {
  .leaflet-left {
    left: 20%;
  }
}

.leaflet-custom-plugins {
  position: absolute;
  margin-left: 200px;

  a {
    padding: 3px;
    box-sizing: border-box;

    svg {
      height: 24px;
      width: 24px;
    }
  }
}


.dashboard__map {
  height: 100%;
  width: 100%;

  @include media(xsmall-only) {
    height: 500px;
    max-height: 100vh;
    width: 100vw;
  }
}

#map {
  height: 100%;
  width: 100%;
}

.leaflet-basemap-pane {
  z-index: 100;
}

.leaflet-overlay-pane {
  z-index: 101;
}

.leaflet-referenceLayer-pane {
  z-index: 101;
}

.leaflet-contextLayer-pane {
  z-index: 102;
}

.leaflet-control-zoom {
  a {
    color: #eeeeee !important;
    border-radius: 20px !important;
    background-color: $primary-color !important;
    width: 20px !important;
    height: 20px !important;
    margin: 0 10px !important;
    margin-top: 6px !important;
    font-size: 1rem !important;

    span {
      display: block;
      margin-top: -5px;
    }
  }
}

// LEAFLET NAVBAR
.leaflet-control-navbar-fwd,
.leaflet-control-navbar-back,
.leaflet-control-navbar-home {
  background-size: 24px;
}

@mixin home-icon($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48px' viewBox='0 0 24 24' width='48px' fill='#{$color}'%3E%3Cpath d='M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z'%3E%3C/path%3E%3C/svg%3E");
}

@mixin forward-icon($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48px' viewBox='0 0 24 24' width='48px' fill='#{$color}'%3E%3Cpath d='M18.4 10.6C16.55 8.99 14.15 8 11.5 8c-4.65 0-8.58 3.03-9.96 7.22L3.9 16c1.05-3.19 4.05-5.5 7.6-5.5 1.95 0 3.73.72 5.12 1.88L13 16h9V7l-3.6 3.6z'%3E%3C/path%3E%3C/svg%3E");
}

@mixin backward-icon($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48px' viewBox='0 0 24 24' width='48px' fill='#{$color}'%3E%3Cpath d='M12.5 8c-2.65 0-5.05.99-6.9 2.6L2 7v9h9l-3.62-3.62c1.39-1.16 3.16-1.88 5.12-1.88 3.54 0 6.55 2.31 7.6 5.5l2.37-.78C21.08 11.03 17.15 8 12.5 8z'%3E%3C/path%3E%3C/svg%3E");
}

.leaflet-control-navbar{
  position: relative;
  width: 120px;
}

// TODO:
//  We need to fix the color using variable
.leaflet-control-navbar-home {
  @include home-icon(str-replace('#1CABE2', '#', '%23'))
}

.leaflet-control-navbar-home-disabled {
  @include home-icon(str-replace('#CCCCCC', '#', '%23'));

  &:hover {
    background-color: unset !important;
    opacity: 1 !important;
  }
}

.leaflet-control-navbar-fwd {
  @include forward-icon(str-replace('#1CABE2', '#', '%23'));
  position: absolute;
  top: 0;
  left: 80px;
}

.leaflet-control-navbar-fwd-disabled {
  @include forward-icon(str-replace('#CCCCCC', '#', '%23'));

  &:hover {
    background-color: unset !important;
    opacity: 1 !important;
  }
}

.leaflet-control-navbar-back {
  @include backward-icon(str-replace('#1CABE2', '#', '%23'));
  position: absolute;
  top: 0;
  left: 40px;
}

.leaflet-control-navbar-back-disabled {
  @include backward-icon(str-replace('#CCCCCC', '#', '%23'));

  &:hover {
    background-color: unset !important;
    opacity: 1 !important;
  }
}