/* ==========================================================================
   Map Container
   ========================================================================== */

@import '../../../app/variables';

.leaflet-top {
  background-color: #eeeeee;
}

.leaflet-left {
  left: 0;
  padding-left: 1rem;
  transition: left 0.3s;
  top: 0;
  height: 49px;
  width: 100vw;
  display: flex;

  .leaflet-control {
    display: flex;
    margin-left: 0;
    margin-top: 7px;
    z-index: 1000;
    border: none;

    a {
      background-color: #eee;
      border: none;
      margin: 0 5px;
      color: $primary-color;
      border-radius: $border-radius;
    }

    a:hover {
      background-color: #ddd;
    }
  }
}

.LeftExpanded {
  .leaflet-left {
    left: 20%;
  }
}

.leaflet-custom-plugins {
  position: absolute;
  margin-left: 235px;

  a {
    padding: 3px;
    box-sizing: border-box;

    svg {
      height: 24px;
      width: 24px;
    }
  }

  .leaflet-control-navbar {
    width: fit-content;
  }

  .Disabled {
    a {
      color: $disabled-color !important;
      cursor: default;

      &:hover {
        background-color: unset !important;
        opacity: 1 !important;
      }
    }
  }
}


.dashboard__map {
  height: 100%;
  width: 100%;

  @include media(xsmall-only) {
    height: 500px;
    max-height: 100vh;
    width: 100vw;
  }
}

#map {
  height: 100%;
  width: 100%;

  &:focus-visible {
    outline: none;
  }
}

.leaflet-basemap-pane {
  z-index: 100;
}

.leaflet-overlay-pane {
  z-index: 101;
}

.leaflet-referenceLayer-pane {
  z-index: 101;
}

.leaflet-contextLayer-pane {
  z-index: 102;
}

// LEAFLET NAVBAR
.leaflet-control-navbar-fwd,
.leaflet-control-navbar-back,
.leaflet-control-navbar-home,
.leaflet-control-measure-toggle {
  background-size: 24px !important;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  background-size: 22px !important;
}

.leaflet-control-navbar {
  position: relative;
  width: 120px;
}

// TODO:
//  We need to fix the color using variable
$nav-enabled-color: '%231CABE2';
$nav-disabled-color: '%23CCCCCC';

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  span {
    display: none;
  }
}

.leaflet-control-zoom-in {
  @include plus-icon($nav-enabled-color);

  &.leaflet-disabled {
    @include plus-icon($nav-disabled-color);

    &:hover {
      background-color: unset !important;
      opacity: 1 !important;
    }
  }
}

.leaflet-control-zoom-out {
  @include minus-icon($nav-enabled-color);

  &.leaflet-disabled {
    @include minus-icon($nav-disabled-color);

    &:hover {
      background-color: unset !important;
      opacity: 1 !important;
    }
  }
}

.leaflet-control-navbar-home {
  @include home-icon($nav-enabled-color)
}

.leaflet-control-navbar-home-disabled {
  @include home-icon($nav-disabled-color);

  &:hover {
    background-color: unset !important;
    opacity: 1 !important;
  }
}

.leaflet-control-navbar-fwd {
  @include forward-icon($nav-enabled-color);
  position: absolute;
  top: 0;
  left: 80px;
}

.leaflet-control-navbar-fwd-disabled {
  @include forward-icon($nav-disabled-color);

  &:hover {
    background-color: unset !important;
    opacity: 1 !important;
  }
}

.leaflet-control-navbar-back {
  @include backward-icon($nav-enabled-color);
  position: absolute;
  top: 0;
  left: 40px;
}

.leaflet-control-navbar-back-disabled {
  @include backward-icon($nav-disabled-color);

  &:hover {
    background-color: unset !important;
    opacity: 1 !important;
  }
}

.leaflet-control-measure {
  position: relative;
  background: unset;

  .leaflet-control-measure-toggle {
    @include measurement-icon($nav-enabled-color);
    color: rgba(0, 0, 0, 0) !important;
    display: block !important;
  }

  .leaflet-control-measure-interaction {
    position: absolute;
    background: white;
    top: 42px;
    min-width: 15rem;

    a {
      background-color: unset;
      color: #5e66cc;

      &:hover {
        background-color: unset;
      }
    }

    p {
      margin-top: 0;
      white-space: nowrap;
    }

    .group {
      margin-top: 0;
      padding-top: 0;
      border: none;
      display: flex;

      .heading {
        color: $secondary-color;

        &::after {
          content: " = ";
        }
      }
    }
  }

  &:hover {
    .leaflet-control-measure-interaction {
      display: block !important;
    }
  }
}

.leaflet-measure-resultpopup {
  h3 {
    color: $secondary-color
  }

  h3, p, .tasks {
    padding: 0.5rem;
    margin-top: 0;
  }

  p {
    padding-top: 0;
  }
}