/* ==========================================================================
   Indicator Layers List style
   ========================================================================== */

@import '../../../../../app/variables';

.IndicatorLayers {
  .OtherActionFunctions {
    width: 185px;
  }

  .OtherActionFunctionsWrapper {
    display: flex;
  }

  .LayerCountIndicatorWrapper {
    display: flex;
    width: 90px;

    div:first-child {
      flex-grow: 1;
    }

    .LayerCountIndicator {
      width: fit-content;
      height: 22px;
      margin-top: 7px;
      display: block;
      margin-left: 0.5rem;
      background: white;
      border-radius: $border-radius;
      text-align: center;
      padding: 2px 10px 0 10px;
      border: 1px solid $primary-color;
      font-size: 0.8rem;
    }
  }
}