/* ==========================================================================
   POPOVER
   ========================================================================== */
@import '../../app/variables';

.MuiPopover-root {
  &.right {

    .MuiPaper-root {
      margin-left: 0.5rem;
    }
  }

  .MuiPaper-root {
    border-radius: $border-radius;
    box-shadow: $box-shadow;
  }
}
